{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/change" method="post">
        <div class="mb-3">
            <input autofocus class="form-control mx-auto w-auto" id="password" name="username" placeholder="Enter Current Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Enter New Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="passwordc" placeholder="Confirm New Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Update</button>
    </form>
{% endblock %}
